footer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--color-secondary);
    min-height: 100px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}


.footer__social-media-list,
.footer__contact-list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .footer__social-media-list li{
    list-style: none;
}

footer .footer__social-media-list li a ion-icon{
    padding: 0.8rem;
}
footer .footer__social-media-list li a{
    font-size: 2em;
    color: var(--color-secondary);
    margin: 0 10px;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}
footer .footer__social-media-list li a:hover{
    transform: translateY(-10px);
}

footer .footer__social-media-list li:nth-child(1) a:hover{
    background-color: #25D366;
    color: var(--color-white);
}

footer .footer__social-media-list li:nth-child(2) a:hover{
    background-color: #69C9D0;
    color: var(--color-white);
}

footer .footer__social-media-list li:nth-child(3) a:hover{
    background-color: #E1306C;
    color: var(--color-white);
}

footer .footer__social-media-list li:nth-child(4) a:hover{
    background-color: #4267B2;
    color: var(--color-white);
}

footer .footer__contact-list li a{
    font-size: 1.2em;
    margin: 0 10px;
    display: inline-block;
    color: var(--color-white);
}

footer .footer__contact{
    text-align: center;
}

footer .footer__contact-title{
    color: var(--color-gold);
    font-weight: bold;
    font-size: 32px;
}

footer .footer__contact-list{
    color: var(--color-secondary);
}

footer .footer__contact p{
    color: var(--color-gold);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .footer__logo img{
    width: 124px;
}

footer .waves{
    position: absolute;
    overflow: hidden;
    top: -100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
}

.wave{
    background: url(./../img/wave.png); 
    position: absolute;
    width: 200%;
    height: 100%;
    animation: animateWave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;

}

.wave:nth-of-type(2) {
    top: 0px;
    animation: animateWave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    top: 0px;
    animation: animateWave 20s -1s linear infinite;
    opacity: 0.5;
}


@keyframes animateWave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

.dev {
    position: absolute;
    width: 10%;
    right: 1rem;
    bottom: 0;
}